body {
    padding-top: 5rem;
    background-color: #e3eff8;
}
.card{
    border-top: 4px solid #26619c;
    width:600px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.form-group input{
    width: 400px;
}

.btn-primary{
    margin-top: 20px;
    font-size: 14px;
}

.class_mod{
   margin-bottom: 15px;
   box-shadow: 1px 1px #d8d7d7;
}

.profile_info{
    margin-bottom: 1px;
}

.moreInfo{
    color: grey;
    font-size: 14px;
    margin-bottom: 2px;
}

.icons{
    width: 15px;
    height: 16px;
    margin-right: 5px;
}

#username{
    font-weight: 700;
    padding-bottom: 8px;
}
.align-content-start{
    width: 15em;
    height: 5em;
}

.btn-success{
    background-color: #51B557;
    padding-left: 15px;
    padding-right: 15px;
}

.pic{
    width: 110px;
    height: 110px;
}
 