{% extends "base.html" %}

{% block main %}
    <div class = "container">
        
        <div class="card container d-flex flex-column justify-content-around class_mod">
            
          <div class="d-flex flex-row justify-content-around align-items-center">
              
            <div>
            <img class="pic_single" src="{{ url_for('static', filename="images/Mr Zombie.png") }}" />
            </div>
            
                <div>
                    <div>
                        <h6 class = "profile_info" id = "username">{{user.first_name}} {{user.last_name}}</h6>
                    </div>
                    
                    <div class = "d-flex flex-row profile_info align-items-center">
                        <img class = "icons" src="{{ url_for('static', filename="images/user.png") }}" />
                        <p class = "moreInfo">{{user.email}}</p>
                    </div>
                    
                    <div class = "d-flex flex-row profile_info align-items-center">
                        <img class = "icons" src="{{ url_for('static', filename="images/location.png") }}" />
                        <p class = "moreInfo">{{user.location}}</p>
                    </div>
                    
                    <div class = "d-flex flex-row profile_info align-items-center">
                        <img class = "icons" src="{{ url_for('static', filename="images/location.png") }}" />
                        <p class = "moreInfo">{{user.created_on}}</p>
                    </div>
                </div>
            
            </div>
            
            <div class = "container">
                <h6>About Me</h6>
                <div>
                    <p class = "moreInfo">{{user.biography}}</p>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <button type="submit" class="btn btn-success profile-button">Send Message</button>
                    <button type="submit" class="btn btn-primary profile-button">Follow</button>
                </div>
            </div>
            
        </div>
        
    </div>

{% endblock %}